<h1>Listing site_managers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Img</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_managers.each do |site_manager| %>
      <tr>
        <td><%= site_manager.name %></td>
        <td><%= site_manager.url %></td>
        <td><%= site_manager.img %></td>
        <td><%= link_to 'Show', site_manager %></td>
        <td><%= link_to 'Edit', edit_site_manager_path(site_manager) %></td>
        <td><%= link_to 'Destroy', site_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site manager', new_site_manager_path %>
