<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site_manager.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site_manager.url %>
</p>

<p>
  <strong>Img:</strong>
  <%= 'No Image has been selected' if @site_manager.img.nil? %>
  <%= tag "input", { "type" => "button", "value" => "Select Image", "onclick"=> "imageSearch()", "class" => "find_image", "data-images" => "some_link" } %>
</p>

<%= link_to 'Edit', edit_site_manager_path(@site_manager) %> |
<%= link_to 'Back', site_managers_path %>
