<!DOCTYPE html>
<html>
<head>
  <title>Organizer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="content">
    <div id="header">SITE ORGANIZER</div>
    <div id="toolbar"><ul><li>Home</li><li><%= link_to 'Manage Sites', new_site_manager_path %></li></ul></div>
    <div id="pages"><%= yield %></div>
    <div id="footer">Content goes here</div>
  </div>
</body>
</html>
